#navigation {
	padding-left: 32px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-bottom-color: #999999;
	padding-bottom: 13px;
}#publish {
	height: 32px;
	padding-top: 17px;
}
#publish a {
	background-color: #666666;
	box-shadow:inset -2px -2px 15px #333333, inset 2px 2px 15px #999999;
	color: #FFFFFF;
	border-radius:10px;
	font-size: 15px;
	padding-top: 7px;
	padding-right: 21px;
	padding-bottom: 7px;
	padding-left: 21px;
}
#post-containers {
	box-shadow:2px 2px 7px #808080;
	padding-top: 11px;
	padding-right: 17px;
	padding-bottom: 11px;
	padding-left: 17px;
	border-left-width: 6px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #0066FF;
}
.post {
	height: 51px;
	margin-bottom: 15px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-bottom-width: 1px;
	padding-bottom: 9px;
	padding-top: 7px;
}
.post .post-icon img {
	box-shadow:0px 0px 3px #808080;
	height: 42px;
	width: 42px;
	float: left;
	margin-top: 2px;
}
.post .post-info-width {
	margin-left: 19px;
	width: 670px;
	height: 46px;
	float: left;
}
.post .post-type {
	box-shadow:inset 1px 1px 3px #0099FF, inset -1px -1px 3px #003399;
	border-radius:7px;
	font-size: 14px;
	background-color: #0066CC;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.post .post-honor {
	box-shadow:inset 1px 1px 3px #FF6666, inset -1px -1px 3px #DD2222;
	border-radius:7px;
	font-size: 14px;
	background-color: #FF3333;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.post .post-first-line {
	font-size: 19px;
	display:block;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.post .post-second-line {
	font-size: 13px;
	color: #999999;
	margin-top: 3px;
	float: left;
}
.post .post-second-count {
	float: left;
}
.post .post-second-count .attri {
	float: left;
	width: 52px;
	background-color: #0099FF;
	margin-left: 5px;
	height: 47px;
	padding-top: 4px;
}
.post .post-second-count .attri div{
	color: #FFFFFF;
	text-align: center;
}
.post .post-second-count .attri .top{
	font-size: 13px;
	display:block;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.post .post-second-count .attri .bottom{
	font-size: 16px;
}
#node-name {
	border-radius:10px;
	font-size: 21px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #FFFFFF;
	background-color: #0066FF;
	margin-bottom: 30px;
	font-weight: normal;
}
#node-name:before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0px;
	border-color: transparent #222 #222 transparent;
	border-style: solid;
	border-width: 5px;
	width: 0;
	height: 0;
}#node-info li {
	margin-left: -17px;
}
#node-introduction {
	box-shadow: 0px 0px 5px #999999;
	padding-top: 21px;
	padding-right: 11px;
	padding-bottom: 21px;
	padding-left: 11px;
	background-color: #FFFFFF;
}
.pages {
	text-align: center;
	padding-top: 45px;
}

.pages span, .pages em, .pages a {
	border-radius:6px;
	background-color: #999999;
	color: #FFFFFF;
	margin-right: 2px;
	margin-left: 2px;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	padding: 11px;
}
.pages a {
	background-color: #0066CC;
}
.pages a:hover {
	background-color: #0099FF;
}
.pages .current {
	background-color: #FFFFFF;
	color: #FF3300;
	border: 2px solid #0066CC;
	padding: 9px;
}
