body {
	margin-top:0;
	margin-left:0;
	margin-bottom:0;
	margin-right:0;
	font-size: 15px;
}
div {
	margin-top:0;
	margin-left:0;
	margin-bottom:0;
	margin-right:0;
	cursor: default;
	color: #333333;
	font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}
li {
	list-style-type: none;
}
a {
	transition:border-radius 0.45s, color 1s,background-color 0.45s;
	-moz-transition:border-radius 0.45s,color 1s,background-color 0.45s;
	-webkit-transition:border-radius 0.45s,color 1s,background-color 0.45s;
	-o-transition:border-radius 0.45s,color 1s,background-color 0.45s;
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #666666;
}
table, tr, td{
	border:0;
	margin-top:0;
	margin-left:0;
	margin-bottom:0;
	margin-right:0;
}
textarea {
	border: 1px solid #666666;
	padding: 5px;
}
input {
	height: 27px;
	padding: 5px;
}
textarea {
}
input, textarea {
	transition:box-shadow 0.45s;
	-moz-transition:box-shadow 0.45s;
	-webkit-transition:box-shadow 0.45s;
	-o-transition:box-shadow 0.45s;
}
input:focus, textarea:focus {
	box-shadow:0px 0px 5px #FF7D7D;
}
.center-containers {
	margin-right: auto;
	margin-left: auto;
	width: 1248px;
}
.title {
	font-size: 23px;
	color: #000000;
	margin-top: 27px;
	padding-bottom: 22px;
	margin-right: 21px;
	margin-left: 21px;
}
.piece {
	padding: 5px;
	box-shadow:2px 2px 7px #808080;
	border-top-width: 6px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #CCCCCC;
}

#top-bar {
	background-color: #666666;
	box-shadow:inset 0px 0px 27px #333333;
	border-top-width: 6px;
	border-right-width: 6px;
	border-bottom-width: 6px;
	border-left-width: 6px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	padding: 10px;
}
#top-content {
	float: right;
	margin-top: 5px;
}
#top-content a {
	font-size: 23px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 9px;
	padding-right: 15px;
	padding-bottom: 9px;
	padding-left: 15px;
}
#top-content a:hover {
	border-radius:12px;
	background-color: #FFFFFF;
	color: #333333;
}
#top-bar .top-tips {
	z-index: 888;
	position: absolute;
	
	margin-top: 23px;
	border-radius:12px;
	background-color: #666666;
	box-shadow:inset 0px 0px 27px #333333;
	color: #FFFFFF;
}
#top-user-list {
	padding-top: 21px;
	padding-bottom: 21px;
	width: 120px;
	text-align: center;
	margin-left: 95px;
}
#top-user-list a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 19px;
	line-height: 42px;
	padding-top: 7px;
	padding-right: 12px;
	padding-bottom: 7px;
	padding-left: 12px;
}
#top-user-list a:hover {
	border-radius: 12px;
	color: #333333;
	background-color: #FFFFFF;
}
#top-login {
	margin-left: -180px;
	width: 325px;
}
#top-tab {
	background-color: #999999;
	padding-top: 5px;
	padding-bottom: 8px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #000000;
	border-left-color: #666666;
}
#top-tab a {
	font-size: 14px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}
#top-tab a:hover {
	border-radius:0px;
	color: #CCCCCC;
	background-color: #999999;
}
#top-title {
  color: #FFFFFF;
	margin-top: 25px;
	text-align: center;
	font-weight: normal;
	font-size: 22px;
}
#top-body {
	margin-top: 27px;
	margin-right: 21px;
	margin-left: 21px;
	margin-bottom: 55px;
}
#top-body .top-text {
	width: 100%;
}
#top-body input, #top-body select {
	margin-bottom: 9px;
}
#top-body a {
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
#top-body a:hover {
	border-radius: 0px;
	color: #CCCCCC;
	background-color: #666666;
}
#top-notify {
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: -180px;
	max-height: 270px;
	width: 345px;
	color: #333333;
	border: 2px solid #666666;
}
#top-notify .notify {
	transition: background-color 0.45s;
	border-radius:10px;
	background-color: #FFFFFF;
	margin: 7px;
	font-size: 14px;
	color: #333333;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 13px;
	padding-left: 9px;
}
#top-notify .notify:hover {
	background-color: #E4E4E4;	
}
#top-notify .notify .content {
	margin-right: 25px;
}
#top-notify .notify .empty {
	margin-right: 25px;
	text-align: center;
	vertical-align: middle;
	margin-top: 21px;
	margin-bottom: 21px;
}
#top-notify a {
	font-size: 14px;
	border-radius: 0px;
	color: #333333;
	background-color: none;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
#top-notify a:hover {
	border-radius: 0px;
	color: #666666;
	background-color: #E4E4E4;
	margin: 0px;
	padding: 0px;
	text-decoration: underline;
}
#top-notify .notify .close {
	border-radius:10px;
	float: right;
	color: #FFFFFF;
	background-color: #FF6666;
	font-size: 15px;
	width: 21px;
	text-align: center;
	cursor: pointer;
	
	text-shadow: 1px 1px 4px #333333;
	box-shadow:1px 1px 2px #333333;
}

#main-area {
	width: 966px;
	margin-top: 25px;
	margin-right: 45px;
	margin-bottom: 89px;
}
#add-area {
	z-index: -1;
	position: fixed;
	box-shadow:0px 0px 15px #333333;
	width: 237px;
	margin-left: 1011px;
	height: 2999px;
	background-color: #EEEEEE;
	padding-top: 145px;
	padding-left: 37px;
	border-top-color: #666666;
	margin-top: -95px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
}
#notification span {
	text-shadow: 1px 1px 4px #333333;
	box-shadow:1px 1px 2px #333333;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	border-radius:6px;
	font-weight: bold;
	font-variant: normal;
}
#notification:hover span {
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 5px;
	border-radius:6px;
	color: #FFFFFF;
	background-color: #666666;
	font-weight: bold;
	font-variant: normal;
	transition: background-color 0.85s;
}
#notification .high-light {
	color: #FFFFFF;
	background-color: #FF3333;
}
#notification .gray {
	background-color: #999999;
	color: #FFFFFF;
}